In [ ]:
import pandas as pd
import numpy as np
import zipfile as zp
from datetime import datetime as dt
from datetime import timedelta
from sqlalchemy import create_engine
import xlwings as xw
import requests
import io
import os
import itertools
import datetime
import time
import re
from numpy import isnan

In [2]:
engine = create_engine('postgresql://postgres:1dea9476-30e6-4d75-97d3-0a3a81fb5268@radius-aws-test.cz9slvnankp0.us-west-1.rds.amazonaws.com')
conn = engine.connect()

In [3]:
query = "SELECT * FROM companies limit 283535"
df = pd.read_sql(query, conn)
df

,id,name,domain,description,location,employeeCount,industryKeyWords,fundingHistory,technologies,estimatedRevenue,...,country,geographicArea,postalCode,singleTokens,bigramTokens,lastVectorUploadDate,insertedIntoHired,isDup,rootDomain,llmGeneratedDescription
0,dad468c6-d1d1-4754-bbb5-919de73c62b4,None,47brand.com,,None,NaN,[],[],[],None,...,None,None,None,[],[],2023-03-10 04:05:27.368,True,False,None,None
1,52802426-b7be-48eb-8a3e-d0a47fb3bc75,None,None,,None,NaN,[],[],[],None,...,None,None,None,[],[],NaT,False,False,None,None
2,dfb560bd-4e8a-4249-a002-bf05b807bb88,None,argusdental.com,,None,NaN,[],[],[],None,...,None,None,None,[],[],2023-03-16 06:43:35.410,True,False,None,None
3,eef3737f-059e-47f4-85b5-48c6d338973b,Portable Electric,portable-electric.com,Portable Electric (PE) is a Vancouver-based cl...,None,50.0,"[Mobile Power Rental, Portable Battery Banks, ...",[],[],None,...,CA,British Columbia,V5M4P7,"[portable, electric, (pe), is, a, vancouver-ba...","[portable electric, electric (pe), (pe) is, is...",2023-03-16 16:22:44.712,True,False,None,None
4,0be8b6b5-5c0e-4ec7-9e96-07746c0ff3dd,HOSPITALITY CENTRE LIMITED,hospitalitycentre.co.uk,HOSPITALITY CENTRE LIMITED is a retail company...,None,2.0,[],[],[],None,...,GB,None,None,"[utd, box, harry, styles, tickets, eminem, tou...","[utd box, harry styles, styles tickets, eminem...",2023-03-14 20:07:58.419,True,False,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283530,ef38a463-37b2-4984-9a96-75368fa763d8,M Health Fairview Bethesda Hospital,fairview.org,Fairview Range is the most comprehensive healt...,None,154.0,[Hospital & Health Care],[],[],None,...,US,MN,55746,"[fairview, range, is, the, most, comprehensive...","[fairview range, range is, is the, the most, m...",2023-03-15 18:59:56.442,True,False,None,None
283531,a2cbc984-47ad-405d-969b-2193c4653281,None,fctcenters.com,,None,NaN,[],[],[],None,...,None,None,None,[],[],2023-03-16 07:51:08.615,True,False,None,None
283532,cd52d520-c288-4354-ae19-26aea68e4113,Atomic Casino Parties,atomiccasinoparties.com,Planning your next big party or event? Looking...,None,3.0,"[Atomic Casino Parties, Sonoma County's finest...",[],[],None,...,US,CA,95492,"[casino, games, for, party, craps, dealer, ato...","[casino games, games for, for party, craps dea...",2023-03-20 00:12:32.664,True,False,None,None
283533,ebb2da84-f640-42a0-809f-28eeeed8a29b,None,worldofcreditcards.com,,None,NaN,[],[],[],None,...,None,None,None,[],[],2023-03-16 19:19:12.150,True,False,None,None
283534,cf111233-f0d7-4af7-8cab-bae77ce1cf9d,OfferFit,offerfit.ai,A/B Testing is Dead. Make the leap from A/B to...,None,59.0,"[marketing technology, artificial intelligence...",[],[],None,...,US,Massachusetts,02116,"[product, manager, offerfit, a/b, testing, is,...","[product manager, offerfit, a/b testing, testi...",2023-03-08 03:33:06.438,True,False,None,None

In [4]:
# en primer lugar observamos que en muchos registros la tabla no tiene información. Los casos que se observan para los cuales 
#no se dispone de info son listas y string vacíos y valores None y NaN. Por esta razón se busca tener un solo tipo de dato vacío. 
#primero cambiamos las listas vacías a NaN
df = df.applymap(lambda x: x if not isinstance(x, list) or len(x) != 0 else np.nan)
# luego cambiamos los strings vacíos a NaN
df = df.replace('', np.nan)
# cambiamos los datos None a Nan
df = df.fillna(np.nan)
#observamos que ahora solo tenemos un tipo de dato vacío en la tabla:
df

,id,name,domain,description,location,employeeCount,industryKeyWords,fundingHistory,technologies,estimatedRevenue,...,country,geographicArea,postalCode,singleTokens,bigramTokens,lastVectorUploadDate,insertedIntoHired,isDup,rootDomain,llmGeneratedDescription
0,dad468c6-d1d1-4754-bbb5-919de73c62b4,NaN,47brand.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-03-10 04:05:27.368,True,False,NaN,NaN
1,52802426-b7be-48eb-8a3e-d0a47fb3bc75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,False,False,NaN,NaN
2,dfb560bd-4e8a-4249-a002-bf05b807bb88,NaN,argusdental.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-03-16 06:43:35.410,True,False,NaN,NaN
3,eef3737f-059e-47f4-85b5-48c6d338973b,Portable Electric,portable-electric.com,Portable Electric (PE) is a Vancouver-based cl...,NaN,50.0,"[Mobile Power Rental, Portable Battery Banks, ...",NaN,NaN,NaN,...,CA,British Columbia,V5M4P7,"[portable, electric, (pe), is, a, vancouver-ba...","[portable electric, electric (pe), (pe) is, is...",2023-03-16 16:22:44.712,True,False,NaN,NaN
4,0be8b6b5-5c0e-4ec7-9e96-07746c0ff3dd,HOSPITALITY CENTRE LIMITED,hospitalitycentre.co.uk,HOSPITALITY CENTRE LIMITED is a retail company...,NaN,2.0,NaN,NaN,NaN,NaN,...,GB,NaN,NaN,"[utd, box, harry, styles, tickets, eminem, tou...","[utd box, harry styles, styles tickets, eminem...",2023-03-14 20:07:58.419,True,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283530,ef38a463-37b2-4984-9a96-75368fa763d8,M Health Fairview Bethesda Hospital,fairview.org,Fairview Range is the most comprehensive healt...,NaN,154.0,[Hospital & Health Care],NaN,NaN,NaN,...,US,MN,55746,"[fairview, range, is, the, most, comprehensive...","[fairview range, range is, is the, the most, m...",2023-03-15 18:59:56.442,True,False,NaN,NaN
283531,a2cbc984-47ad-405d-969b-2193c4653281,NaN,fctcenters.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-03-16 07:51:08.615,True,False,NaN,NaN
283532,cd52d520-c288-4354-ae19-26aea68e4113,Atomic Casino Parties,atomiccasinoparties.com,Planning your next big party or event? Looking...,NaN,3.0,"[Atomic Casino Parties, Sonoma County's finest...",NaN,NaN,NaN,...,US,CA,95492,"[casino, games, for, party, craps, dealer, ato...","[casino games, games for, for party, craps dea...",2023-03-20 00:12:32.664,True,False,NaN,NaN
283533,ebb2da84-f640-42a0-809f-28eeeed8a29b,NaN,worldofcreditcards.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-03-16 19:19:12.150,True,False,NaN,NaN
283534,cf111233-f0d7-4af7-8cab-bae77ce1cf9d,OfferFit,offerfit.ai,A/B Testing is Dead. Make the leap from A/B to...,NaN,59.0,"[marketing technology, artificial intelligence...",NaN,NaN,NaN,...,US,Massachusetts,02116,"[product, manager, offerfit, a/b, testing, is,...","[product manager, offerfit, a/b testing, testi...",2023-03-08 03:33:06.438,True,False,NaN,NaN

In [5]:
# vamos a ver los datos que no nos sirven y de los que queremos deshacernos. Estos son datos que no tienen registro en la columnas 
# name, domain, linkedinhandle. Para ello vamos a hacer un sub data frame tal que solo tenga datos en las columnas mencionadas vacíos
sub_df = df.loc[df['domain'].isnull()]
sub_df = sub_df.loc[sub_df['name'].isnull()]
sub_df = sub_df.loc[sub_df['linkedinHandle'].isnull()]
sub_df

,id,name,domain,description,location,employeeCount,industryKeyWords,fundingHistory,technologies,estimatedRevenue,...,country,geographicArea,postalCode,singleTokens,bigramTokens,lastVectorUploadDate,insertedIntoHired,isDup,rootDomain,llmGeneratedDescription
1,52802426-b7be-48eb-8a3e-d0a47fb3bc75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,False,False,NaN,NaN
11,ad639044-94b9-4c9c-b86f-088963eef3ff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,False,False,NaN,NaN
12,e8f231a0-2c3f-43b8-b55e-15fd0aea2b1b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,True,False,NaN,NaN
13,db42df1b-a539-4bc8-a5ba-b7f931f3a5b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,False,False,NaN,NaN
32,3e303dc0-aaa6-40dd-b8ba-92ac7a09ab7b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264584,08b9316c-4477-4f89-909d-32309ae4de64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,True,False,NaN,NaN
267205,a5c993be-5561-4a3b-b392-7592eaabf072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,True,False,NaN,NaN
268209,cdb6e341-1e98-44cb-9510-9495632b1298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,True,False,NaN,NaN
272909,fd734819-6ee2-4efc-b207-c80365e70e9f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,True,False,NaN,NaN
274091,bddf148c-5907-4ff1-aa50-a03c7d61c0fd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,True,False,NaN,NaN

In [64]:
# el 0.2782% de los datos son vacíos en las 3 columnas (names, linkedinHandle y domain) simultáneamente
sub_df.shape[0]/df.shape[0]*100

0.2782725236743259

In [9]:
# el siguiente dataframe contiene los registros tales que en al menos una de las columnas name, domain o linkedinHandle 
# son no vacíos
dfn = df.loc[~df.index.isin(sub_df.index)]
dfn

,id,name,domain,description,location,employeeCount,industryKeyWords,fundingHistory,technologies,estimatedRevenue,...,country,geographicArea,postalCode,singleTokens,bigramTokens,lastVectorUploadDate,insertedIntoHired,isDup,rootDomain,llmGeneratedDescription
0,dad468c6-d1d1-4754-bbb5-919de73c62b4,NaN,47brand.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-03-10 04:05:27.368,True,False,NaN,NaN
2,dfb560bd-4e8a-4249-a002-bf05b807bb88,NaN,argusdental.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-03-16 06:43:35.410,True,False,NaN,NaN
3,eef3737f-059e-47f4-85b5-48c6d338973b,Portable Electric,portable-electric.com,Portable Electric (PE) is a Vancouver-based cl...,NaN,50.0,"[Mobile Power Rental, Portable Battery Banks, ...",NaN,NaN,NaN,...,CA,British Columbia,V5M4P7,"[portable, electric, (pe), is, a, vancouver-ba...","[portable electric, electric (pe), (pe) is, is...",2023-03-16 16:22:44.712,True,False,NaN,NaN
4,0be8b6b5-5c0e-4ec7-9e96-07746c0ff3dd,HOSPITALITY CENTRE LIMITED,hospitalitycentre.co.uk,HOSPITALITY CENTRE LIMITED is a retail company...,NaN,2.0,NaN,NaN,NaN,NaN,...,GB,NaN,NaN,"[utd, box, harry, styles, tickets, eminem, tou...","[utd box, harry styles, styles tickets, eminem...",2023-03-14 20:07:58.419,True,False,NaN,NaN
5,402f2030-5f6f-4355-8a77-bd2022548ec7,Hostify,hostify.com,All in one solution for managing vacation rent...,NaN,22.0,"[Property Management, Multi Calendar, Reservat...",NaN,NaN,NaN,...,US,Delaware,19901,"[airbnb, host, login, blog, vacation, rental, ...","[airbnb host, host login, airbnb blog, vacatio...",2023-03-16 14:43:20.494,True,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283530,ef38a463-37b2-4984-9a96-75368fa763d8,M Health Fairview Bethesda Hospital,fairview.org,Fairview Range is the most comprehensive healt...,NaN,154.0,[Hospital & Health Care],NaN,NaN,NaN,...,US,MN,55746,"[fairview, range, is, the, most, comprehensive...","[fairview range, range is, is the, the most, m...",2023-03-15 18:59:56.442,True,False,NaN,NaN
283531,a2cbc984-47ad-405d-969b-2193c4653281,NaN,fctcenters.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-03-16 07:51:08.615,True,False,NaN,NaN
283532,cd52d520-c288-4354-ae19-26aea68e4113,Atomic Casino Parties,atomiccasinoparties.com,Planning your next big party or event? Looking...,NaN,3.0,"[Atomic Casino Parties, Sonoma County's finest...",NaN,NaN,NaN,...,US,CA,95492,"[casino, games, for, party, craps, dealer, ato...","[casino games, games for, for party, craps dea...",2023-03-20 00:12:32.664,True,False,NaN,NaN
283533,ebb2da84-f640-42a0-809f-28eeeed8a29b,NaN,worldofcreditcards.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-03-16 19:19:12.150,True,False,NaN,NaN
283534,cf111233-f0d7-4af7-8cab-bae77ce1cf9d,OfferFit,offerfit.ai,A/B Testing is Dead. Make the leap from A/B to...,NaN,59.0,"[marketing technology, artificial intelligence...",NaN,NaN,NaN,...,US,Massachusetts,02116,"[product, manager, offerfit, a/b, testing, is,...","[product manager, offerfit, a/b testing, testi...",2023-03-08 03:33:06.438,True,False,NaN,NaN

In [57]:
# veamos cuántos datos vacíos por columna tiene la tabla luego de unificar los tipos de datos vacíos
# se observa que hay 8 columnas de las cuales no se dispone de información en ningún registro, estas columnas son:
# location, fundingHistory, technologies, estimatedRevenue, latestFunding, currentStage, lattitude, longitude

dfn.isnull().sum()

id                              0
name                        99736
domain                      14672
description                129000
location                   282746
employeeCount              139839
industryKeyWords           136654
fundingHistory             282746
technologies               282746
estimatedRevenue           282746
features                     7178
createdAt                       0
updatedAt                       0
latestFunding              282746
currentStage               282746
lattitude                  282746
longitude                  282746
linkedinHandle             128044
foundedYear                174669
city                       123789
country                    119988
geographicArea             138778
postalCode                 155453
singleTokens               110193
bigramTokens               110299
lastVectorUploadDate        18591
insertedIntoHired               0
isDup                           0
rootDomain                 276183
llmGeneratedDescription    281553
dtype: int64

In [241]:
# a continuación creamos una copia del dataframe, que incluye solo algunas columnas de nuestro interés y que 
# nos servirán para hallar registros duplicados.

dfn_copy = dfn[['name', 'domain', 'linkedinHandle']]
dfn_copy

,name,domain,linkedinHandle
0,NaN,47brand.com,NaN
2,NaN,argusdental.com,NaN
3,Portable Electric,portable-electric.com,portable-electric
4,HOSPITALITY CENTRE LIMITED,hospitalitycentre.co.uk,hospitality-centre-limited
5,Hostify,hostify.com,hostifycom
...,...,...,...
283530,M Health Fairview Bethesda Hospital,fairview.org,fairview-range
283531,NaN,fctcenters.com,NaN
283532,Atomic Casino Parties,atomiccasinoparties.com,atomic-casino-parties
283533,NaN,worldofcreditcards.com,NaN
283534,OfferFit,offerfit.ai,offerfit

In [152]:
# uno de los problemas a los que nos enfrentamos para encontrar datos repetidos en la columna domain es que hay datos repetidos 
# que difieren por el string https://www. o http://www. por ello, a continuación se crea la función limpiar_pagina 
# haciendo uso de expresiones regulares:

def limpiar_pagina(cadena):
    if pd.isna(cadena):
        return cadena
    else:
        # primero dejamos todas las cadenas en letras minusculas
        x = str(cadena).lower()
        # definimos una expresión regular que busca las subcadenas "https://www.", "https://", y "http://"
        patron = re.compile(r'https?://www.?')
        cadena_limpia = patron.sub('', x)
        return cadena_limpia

In [242]:
# aplicamos la función limpiar_pagina a la columna domain 
dfn_copy['domain'] = dfn_copy['domain'].apply(limpiar_pagina)
dfn_copy

<ipython-input-242-25b948ca7d20>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfn_copy['domain'] = dfn_copy['domain'].apply(limpiar_pagina)

,name,domain,linkedinHandle
0,NaN,47brand.com,NaN
2,NaN,argusdental.com,NaN
3,Portable Electric,portable-electric.com,portable-electric
4,HOSPITALITY CENTRE LIMITED,hospitalitycentre.co.uk,hospitality-centre-limited
5,Hostify,hostify.com,hostifycom
...,...,...,...
283530,M Health Fairview Bethesda Hospital,fairview.org,fairview-range
283531,NaN,fctcenters.com,NaN
283532,Atomic Casino Parties,atomiccasinoparties.com,atomic-casino-parties
283533,NaN,worldofcreditcards.com,NaN
283534,OfferFit,offerfit.ai,offerfit

In [243]:
# la siguiente serie contiene el número de veces que aparece cada dominio (limpio) del dataframe 
# en total hay 21,623 dominios repetidos, de los cuales 14,672 son NaN, 
# 5 dominios se repiten 3 veces y 3,468 que se repiten dos veces. 282,746 dominios aparecen una sola vez
# en la columna domain

repetidos_dominio = dfn_copy['domain'].value_counts(dropna=False)
repetidos_dominio = repetidos_dominio[repetidos_dominio > 1]
repetidos_dominio

NaN                14672
expresspros.com        3
kantar.com             3
nice.com               3
samedelman.com         3
                   ...
mariebelle.com         2
lotusflare.com         2
greenlight.guru        2
akhuwat.org.pk         2
burtsbees.com          2
Name: domain, Length: 3474, dtype: int64

In [377]:
#explorando algunos registros que tienen el mismo dominio
dfn_copy[dfn_copy['domain'] == 'robertocavalli.com']

                       name              domain     linkedinHandle
112385                  NaN  robertocavalli.com                NaN
207417  Roberto Cavalli SpA  robertocavalli.com  robertocavallispa
212066      Roberto Cavalli  robertocavalli.com     robertocavalli

In [264]:
# algunos dominios de empresas que se repiten en el dataframe son:
repetidos_dominio.index.tolist()[:40]

[nan,
 'expresspros.com',
 'kantar.com',
 'nice.com',
 'samedelman.com',
 'robertocavalli.com',
 'tradinghub.com',
 'didiglobal.com',
 'vendorful.com',
 'themjewelersny.com',
 'x-formation.com',
 'gobble.com',
 'fantasyflightgames.com',
 'archlet.io',
 'refundsmanager.com',
 'expeditors.com',
 'reachplc.com',
 'bedstu.com',
 'hotelbeds.com',
 'costumenational.com',
 'rmsbeauty.com',
 'commonwealthcarealliance.org',
 'alohas.io',
 'lareveche.com',
 'algoscale.com',
 'catan.com',
 'm.io',
 'scandiahome.com',
 'bokserhome.com',
 'banwood.com',
 'verabradley.com',
 'kendrascott.com',
 'finlyhq.com',
 'marimekko.com',
 'littlesecretschocolates.com',
 'jomalone.co.uk',
 'dobetterdeals.com',
 'tventures.net',
 'clientresourcesinc.com',
 'ukri.org']

In [260]:
# Vamos a comenzar el anális buscando en los 3 grupos de datos en los que el dominio se repite: I. 3 veces, II. 2 veces y III. el dominio es nulo.
# dado que tenemos 5 dominios que se repiten 3 veces se puede ver que hay datos repetidos en los registros que tienen por dominio: samedelman.com(1) y robertocavalli.com (1),
# vamos a ver qué pasa con los registros para los cuales el dominio aparece repetido dos veces en el dataframe
# para ello vamos a seleccionar la parte del dataframe en el que el dominio aparece exactamente dos veces

# creamos un df auxiliar para ver los registros que se repiten dos veces en la columna domain
dominior = pd.Series(repetidos_dominio.index)
veces_que_se_repiten = pd.Series(repetidos_dominio.values)
df_rep = pd.concat([dominior, veces_que_se_repiten], axis=1)
df_rep.columns = ['dom', 'repeticiones']
df_rep[df_rep['repeticiones'] == 2]['dom']

#filtramos nuestro df con las columnas que sabemos que se repiten un par de veces en el dominio
indices_dos = dfn_copy['domain'].isin(df_rep[df_rep['repeticiones'] == 2]['dom'])[dfn_copy['domain'].isin(df_rep[df_rep['repeticiones'] == 2]['dom'])==True].index
dom2rep = dfn_copy.loc[indices_dos]
dom2rep

,name,domain,linkedinHandle
18,Crystal Equation Corporation,crystalequation.com,crystalequation
23,Winchester Supply,winsupply.co.uk,winchester-procurement
142,Thom Sweeney,thomsweeney.com,thom-sweeney
216,Dr.Jart+,drjart.com,drjartusa
344,Ocean Spray Cranberries,oceanspray.com,ocean-spray-cranberries
...,...,...,...
283092,NaN,ivp.in,NaN
283296,Alvys,alvys.com,alvysinc
283366,Kid Dangerous,kiddangerous.com,kid-dangerous
283448,NaN,equiniti.com,NaN
283454,American Soft Linen Corp.,americansoftlinen.com,american-soft-linen

In [271]:
# observamos que no hay registros tales que se repitan el dominio y el linkedinHandle,
# dado que no hay este tipo de registros, podemos eliminar el caso en que 1 registro tenga las 3 cols iguales
duplicated_rowsl = dom2rep[dom2rep.duplicated(subset=['linkedinHandle', 'domain'], keep=False)]
duplicated_rowsl

Empty DataFrame
Columns: [name, domain, linkedinHandle]
Index: []

In [273]:
#observamos que existen 276 registros cuyo nombre y dominio se repite dos veces

duplicated_rowsn = dom2rep[dom2rep.duplicated(subset=['name', 'domain'], keep=False)]
duplicated_rowsn

                   name               domain  linkedinHandle
2912              Sense          sensehq.com         sensehq
3426    Adaptive Shield  adaptive-shield.com  adaptiveshield
3735              Scoro            scoro.com  scoro-software
4245            Nextiva          nextiva.com             NaN
4503        ThoughtSpot      thoughtspot.com             NaN
...                 ...                  ...             ...
277276           TriNet           trinet.com             NaN
278148          Acqueon          acqueon.com         acqueon
280520              Ben        thanksben.com             NaN
280982           Seldon            seldon.io             NaN
282744    ServiceRocket    servicerocket.com             NaN

[276 rows x 3 columns]

In [295]:
# como el df anterior contiene registros de empresas que tienen el mismo nombre y dominio, si el linkedin es vacío se trata de un duplicado-
# todos los siguientes registros están duplicados pues existe otra columna en el dataframe que tiene el
# mismo nombre y dominio pero que sí tiene registro en el linkedinHandle
dup_sin_linkedin1 = duplicated_rowsn[duplicated_rowsn['linkedinHandle'].isnull()]
dup_sin_linkedin1

                             name             domain linkedinHandle
4245                      Nextiva        nextiva.com            NaN
4503                  ThoughtSpot    thoughtspot.com            NaN
7014                     Cogoport       cogoport.com            NaN
10394                   MangoApps      mangoapps.com            NaN
10415   American Thoracic Society       thoracic.org            NaN
...                           ...                ...            ...
273725       Dallas Museum of Art            dma.org            NaN
277276                     TriNet         trinet.com            NaN
280520                        Ben      thanksben.com            NaN
280982                     Seldon          seldon.io            NaN
282744              ServiceRocket  servicerocket.com            NaN

[131 rows x 3 columns]

In [327]:
# el siguiente df contiene registros cuyo nombre y dominio se repite dos veces pero no tienen el mismo linkedinHandle
ind_reps = dom2rep['domain'].isin(dup_sin_linkedin1['domain'])[dom2rep['domain'].isin(dup_sin_linkedin1['domain'])==True].index
rares1 = duplicated_rowsn.drop(index=ind_reps)
rares1

,name,domain,linkedinHandle
6645,Intellicomm Inc.,intellicomm.com,intellicomm-inc-
9884,Telit,telit.com,telit-wireless-solutions
46080,Maria Black,maria-black.com,maria-black-jewellery
83147,boscia,boscia.com,boscia-skincare
113335,Freida Rothman,freidarothman.com,freidarothman
114295,Twin Rivers Unified School District,twinriversusd.org,twinriversusd
118757,Maria Black,maria-black.com,maria-black
155488,ASEM S.r.l.,asemautomation.com,asemsrl
165661,Twin Rivers Unified School District,twinriversusd.org,twin-rivers-unified-school-district
174656,ASEM S.r.l.,asemautomation.com,asem-s-p-a-
175398,Telit,telit.com,telit
185459,Intellicomm Inc.,intellicomm.com,intellicomm-inc
209631,Freida Rothman,freidarothman.com,freida-rothman
266374,boscia,boscia.com,boscia

In [364]:
# muchos de los datos del df que contiene registros cuyo dominio aparece en la tabla original
# son repetidos pues tienen el mismo dominio y los otros dos datos vacíos ej: crystalequation.com
indices_duplicados_names = duplicated_rowsn.index
d1 = dom2rep.loc[~dom2rep.index.isin(indices_duplicados_names)]
d1

,name,domain,linkedinHandle
18,Crystal Equation Corporation,crystalequation.com,crystalequation
23,Winchester Supply,winsupply.co.uk,winchester-procurement
142,Thom Sweeney,thomsweeney.com,thom-sweeney
216,Dr.Jart+,drjart.com,drjartusa
344,Ocean Spray Cranberries,oceanspray.com,ocean-spray-cranberries
...,...,...,...
283092,NaN,ivp.in,NaN
283296,Alvys,alvys.com,alvysinc
283366,Kid Dangerous,kiddangerous.com,kid-dangerous
283448,NaN,equiniti.com,NaN
283454,American Soft Linen Corp.,americansoftlinen.com,american-soft-linen

In [365]:
# de esta manera se obtienen 2977 datos repetidos
d1['num_valores_vacios'] = d1.isna().sum(axis=1)
d1[d1['num_valores_vacios'] == 2]

<ipython-input-365-fd4db3835aaa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1['num_valores_vacios'] = d1.isna().sum(axis=1)

       name               domain linkedinHandle  num_valores_vacios
878     NaN            serta.com            NaN                   2
1229    NaN      globalviews.com            NaN                   2
1369    NaN  applerosebeauty.com            NaN                   2
1399    NaN       simulytics.net            NaN                   2
1643    NaN        drmacrene.com            NaN                   2
...     ...                  ...            ...                 ...
282245  NaN       pleybeauty.com            NaN                   2
282392  NaN        drloretta.com            NaN                   2
282590  NaN    kellymitchell.com            NaN                   2
283092  NaN               ivp.in            NaN                   2
283448  NaN         equiniti.com            NaN                   2

[2977 rows x 4 columns]

In [388]:
dom2rep.loc[~dom2rep.index.isin(indices_duplicados_names)].isna().sum()

name              2977
domain               0
linkedinHandle    3153
dtype: int64

In [308]:
# III. Ahora vamos a ver el caso en el que el domain es vacío, existen 13040 registros para la empresa 
# Jaron Fischbeck, MD, por lo que todos los registros del siguiente DF están repetidos
domain_null = dfn_copy[dfn_copy['domain'].isnull()]
domain_null[domain_null['name'] == 'Jaron Fischbeck, MD']

                       name domain           linkedinHandle
7       Jaron Fischbeck, MD    NaN              found.co.uk
9       Jaron Fischbeck, MD    NaN                 sallaapp
10      Jaron Fischbeck, MD    NaN             devtestco111
38      Jaron Fischbeck, MD    NaN                      NaN
43      Jaron Fischbeck, MD    NaN                      NaN
...                     ...    ...                      ...
282212  Jaron Fischbeck, MD    NaN            trumpf-taiwan
282362  Jaron Fischbeck, MD    NaN  randstad-engineering-us
282756  Jaron Fischbeck, MD    NaN             venditiotech
282937  Jaron Fischbeck, MD    NaN        aig-glass-sdn-bhd
282979  Jaron Fischbeck, MD    NaN          studentenbureau

[13040 rows x 3 columns]

In [328]:
# los registros que tienen vacía la columna domain y no son Jaron Fischbeck, MD	son 1,632
dn_nj = domain_null[domain_null['name']!= 'Jaron Fischbeck, MD']
dn_nj

                          name domain          linkedinHandle
375                        NaN    NaN      national-engravers
859                    Jibbitz    NaN                 jibbitz
1321                       NaN    NaN         first-gen-corp-
1566                       NaN    NaN              pyou-spain
2113                       NaN    NaN              talents-it
...                        ...    ...                     ...
279918                     NaN    NaN             bdo-limited
279999                     NaN    NaN         harvardpartners
280007                     NaN    NaN           ipt-powertech
280697  Bcbgeneration Aventura    NaN  bcbgeneration-aventura
282065         Sage & Lavender    NaN           sage-lavender

[1632 rows x 3 columns]

In [356]:
# los unicos datos duplicados con el dominio nulo son los que tienen name también nulo y solo tienen linkedinHandle
df_lhnv = dn_nj[dn_nj.duplicated(subset=['name'], keep=False)]
df_lhnv

       name domain               linkedinHandle
375     NaN    NaN           national-engravers
1321    NaN    NaN              first-gen-corp-
1566    NaN    NaN                   pyou-spain
2113    NaN    NaN                   talents-it
2300    NaN    NaN  pci-government-services-llc
...     ...    ...                          ...
279699  NaN    NaN  data-analytics-ventures-inc
279917  NaN    NaN                     assistrx
279918  NaN    NaN                  bdo-limited
279999  NaN    NaN              harvardpartners
280007  NaN    NaN                ipt-powertech

[1069 rows x 3 columns]

In [378]:
# de estos ninguno es duplicado
df_lhnv[df_lhnv.duplicated(subset=['linkedinHandle'], keep=False)]

Empty DataFrame
Columns: [name, domain, linkedinHandle]
Index: []

In [387]:
# dada la construcción del análisis, los dominios que aparecen una vez en el dataframe, no pueden tener otro registro duplicado 
# en la tabla. De esta manera se analizaron los casos en que
# el dominio es null, se repite 2 veces en la tabla, se repite 3 veces en la tabla y el registro es único.

In [199]:
#Find all the duplicate companies
#(a) Why this companies are duplicated?

In [385]:
# La forma en la que se encontraron datos vacíos fue la siguiente:
# se limpió la columna domain de la tabla para poder hallar los datos repetidos en el registro de dominio de las empresas, obteniendo de esta manera que la columna domain está compuesta por 
# 14,672 registros NaN, 5 dominios que se repiten 3 veces y 3,468 que se repiten 2 veces. 282,746 dominios son únicos.
# Se hizo el análisis sobre estos grupos encontrando 16,150 registros duplicados

In [200]:
#(b) How do you fix this issue (Taking into account that deleting may affect the work-flow)

In [386]:
# Dada la construcción del análisis, tenemos la lista exacta de los índices de los datos repetidos encontrados (16,150) por lo que se puede considerar obtener una tabla limpia quitando 
# los datos vacíos hallados e ir sustituyendo esta tabla limpia en el work-flow de la empresa

In [355]:
#Find all the companies without a LinkedIn Handle registry
#(a) Is it possible the companies indeed have LinkedIn? Why? Show some examples

# El siguiente dataframe contiene empresas cuyo dominio es único y no tienen linkedinHandle en la tabla
# por lo que se proponen para buscar su linkedin

norepetidos_dominio = dfn_copy['domain'].value_counts(dropna=False)
norepetidos_dominio = norepetidos_dominio[norepetidos_dominio == 1]
nombres_empresas = norepetidos_dominio.index.to_list()
no_reps_dom = dfn_copy[dfn_copy['domain'].isin(nombres_empresas)]
nwdf = no_reps_dom[no_reps_dom['linkedinHandle'].isna()]
nwdf

,name,domain,linkedinHandle
0,NaN,47brand.com,NaN
2,NaN,argusdental.com,NaN
8,Nickel City,nickelcitybar.com,NaN
15,NaN,saadialkouatli.com,NaN
24,NaN,scotsirishfestival.com,NaN
...,...,...,...
283523,Cesars Cigar and Wine Bar,cesarscigarandspiritslounge.com,NaN
283525,NaN,mhliquidators.com,NaN
283529,NaN,asiandating.co.nz,NaN
283531,NaN,fctcenters.com,NaN
283533,NaN,worldofcreditcards.com,NaN

In [384]:
lista_empresas_sin_linkedin = nwdf[nwdf['name'].notna()]['name']
lista_empresas_sin_linkedin

8                                Nickel City
39                           My Happy Doctor
47                ADrive Enterprise Solution
82                                Dell’ Aria
88             Indian Creek Court Apartments
                         ...
283496       Solstice Senior Living at Sandy
283497                          Richard Muhn
283513                  Colony Vision Center
283514    Golden Brook Residential Care Home
283523             Cesars Cigar and Wine Bar
Name: name, Length: 27204, dtype: object

In [370]:
lista_dominios_sin_linkedin = nwdf[nwdf['name'].notna()]['domain']
lista_dominios_sin_linkedin

8                       nickelcitybar.com
39                      myhappydoctor.com
47                             adrive.com
82                      dellariacaffe.com
88                   indiancreekcourt.com
                       ...
283496      solsticeseniorlivingsandy.com
283497                jrotcfundraiser.com
283513                   colonyvision.com
283514            weprovidegoldencare.com
283523    cesarscigarandspiritslounge.com
Name: domain, Length: 27204, dtype: object

In [379]:
#(b) If your previous answer is yes then how do you fix it?

In [ ]:
# la siguiente función consume el API de linkedin y dada una lista de nombres de empresas, obtiene su linkedinHandle

In [ ]:
def get_linkedin_handle(company_names):
    """
    Función que obtiene el linkedinHandle de una empresa dada su nombre.
    
    :param company_names: Columna de nombres de empresas.
    :return: Columna de linkedinHandles de empresas.
    """
    # URL de la API de LinkedIn
    url = 'https://api.linkedin.com/v2/organizationalEntityAcls?q=roleAssignee&role=ADMINISTRATOR'

    # Encabezados de autenticación
    headers = {
        'Authorization': 'Bearer {clave_linkedin}',
        'Content-Type': 'application/json'
    }

    # Lista para almacenar los linkedinHandles de las empresas
    linkedin_handles = []

    # Iterar por la columna de nombres de empresas
    for company_name in company_names:
        # Parámetros de la solicitud
        params = {
            'organizationalTarget': {
                'localizedName': company_name
            }
        }

        # Hacer la solicitud a la API de LinkedIn
        response = requests.get(url, headers=headers, params=params)

        # Obtener el linkedinHandle de la empresa si se encuentra en la respuesta
        try:
            linkedin_handle = response.json()['elements'][0]['organizationalTarget']['linkedinHandle']
        except:
            linkedin_handle = 'No encontrado'

        # Agregar el linkedinHandle a la lista
        linkedin_handles.append(linkedin_handle)

    # Crear una columna de linkedinHandles de empresas y devolverla
    df = pd.DataFrame({'Nombre de la empresa': company_names, 'linkedinHandle': linkedin_handles})
    return df

In [ ]:
# la funcion obtener_LinkedinHandle ocupa la librería selenium para que dada una lista de dominios, vaya a cada uno de ellos y obtenga su linkedinHandle

In [380]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException

def obtener_LinkedinHandle(dominios):
    # Configuración del driver de Selenium para Chrome
    options = webdriver.ChromeOptions()
    options.add_argument('--disable-extensions')
    options.add_argument('--headless')
    options.add_argument('--disable-gpu')
    options.add_argument('--no-sandbox')
    options.add_argument('--disable-dev-shm-usage')
    driver = webdriver.Chrome('/usr/bin/chromedriver', options=options)
    
    # Lista para almacenar los LinkedInHandle
    handles = []

    # Recorre cada dominio en la lista y visita la página web de la empresa
    for dominio in dominios:
        url = f"https://www.{dominio}"
        driver.get(url)

        # Busca el enlace a la página de LinkedIn de la empresa
        try:
            linkedin_link = driver.find_element_by_xpath('//a[contains(@href, "linkedin")]')
            linkedin_handle = linkedin_link.get_attribute("href").split("/")[-2]
            handles.append(linkedin_handle)
        except NoSuchElementException:
            # Si no se encuentra el enlace a LinkedIn, agrega un valor vacío a la lista
            handles.append("")

    # Cierra la ventana del navegador
    driver.quit()

    # Devuelve la lista de LinkedInHandles
    return handles