Usando el set de datos users.csv que puedes descargar del grupo de Telegram, o siguiendo este link:
 https://gist.github.com/eduardogpg/9a0e348884bf8b5e60db013a0429a59d usa Numpy o Pandas para obtener la siguiente información
 
(1): Mostrar en consola el nombre de todos los usuario que no poseen un correo electrónico

(2): Listar el nombre y correo del usuario más jovén de Canadá

(3): Listar el nombre y correo de los usuarios más jóvenes de Germany y Canadá

(4): Listar los 5 países con mayor cantidad de usuariosx

(5): Obtener el país con más usuariosx

(6): Obtener el país con más usuarios cuya edad sea mayor a 50x

(7): Obtener la suma total de todos los usuarios de Canadá Y Germany 

(8): Mostrar en consola la cantidad de países en el dataset

(9): Obtener el promedio de edad de cada uno de los países

(10): Mostrar en consola el país con más hombres.

In [19]:
import numpy as np
import pandas as pd

In [88]:
data = pd.read_csv('https://raw.githubusercontent.com/codigofacilito/pandas-python/master/users.csv')
data

,Unnamed: 0,nombre,edad,genero,pais,email
0,0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...,...
195,195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

(1): Mostrar en consola el nombre de todos los usuario que no poseen un correo electrónico

In [54]:
sin_correo = data[data['email'].isnull()] 
sin_correo[['nombre']]

Empty DataFrame
Columns: [nombre]
Index: []

In [57]:
data[pd.isna(data['email'])]

Empty DataFrame
Columns: [Unnamed: 0, nombre, edad, genero, pais, email]
Index: []

(2): Listar el nombre y correo del usuario más jovén de Canadá

In [50]:
canada = data[data['pais']=='Canada'].sort_values('edad').head(1)
canada[['nombre', 'email']]

                 nombre                        email
184  Mr Philip Bélanger  philip.belanger@example.com

(3): Listar el nombre y correo de los usuarios más jóvenes de Germany y Canadá

In [53]:
alemania = data[data['pais']=='Germany'].sort_values('edad').head(1)
alemania[['nombre', 'email']]

           nombre                  email
88  Mrs Hilda Epp  hilda.epp@example.com

(4): Listar los 5 países con mayor cantidad de usuariosx

In [64]:
data.value_counts(data['pais']).head(5)

pais
Ireland           16
Denmark           16
United Kingdom    15
New Zealand       14
Norway            14
dtype: int64

(5): Obtener el país con más usuarios

In [67]:
result = data['pais'].value_counts()[data['pais'].value_counts()==data['pais'].value_counts().max()]
result

Ireland    16
Denmark    16
Name: pais, dtype: int64

(6): Obtener el país con más usuarios cuya edad sea mayor a 50

In [69]:
data1 = data[data['edad']>50]
v = data1['pais'].value_counts()[data1['pais'].value_counts()==data1['pais'].value_counts().max()]
v

Iran    10
Name: pais, dtype: int64

(7): Obtener la suma total de todos los usuarios de Canadá Y Germany ]

In [72]:
data[(data['pais']=='Canada')|(data['pais']=='Germany')].shape[0]

21

(8): Mostrar en consola la cantidad de países en el dataset

In [80]:
data['pais'].nunique()

17

(9): Obtener el promedio de edad de cada uno de los países

In [90]:
data.groupby('pais')['edad'].mean()

pais
Australia         51.166667
Brazil            50.666667
Canada            38.583333
Denmark           48.812500
Finland           42.200000
France            48.900000
Germany           39.555556
Iran              54.230769
Ireland           42.000000
Netherlands       51.833333
New Zealand       49.071429
Norway            46.071429
Spain             56.615385
Switzerland       44.000000
Turkey            47.000000
United Kingdom    51.466667
United States     53.500000
Name: edad, dtype: float64

(10): Mostrar en consola el país con más hombres.

In [98]:
data[data['genero']=='male'].groupby('pais')['pais'].count().sort_values(ascending=False).head(1)

pais
Ireland    10
Name: pais, dtype: int64

(11): Obtener todos los paises con mayor cantidad de usuarios

In [104]:
data['pais'].value_counts().head()

Ireland           16
Denmark           16
United Kingdom    15
New Zealand       14
Norway            14
Name: pais, dtype: int64